:root {
    --bege: rgb(255, 236, 206);
    --marrom: rgb(85,51,13);
    --laranja:  #e85d04;
}

html, body {
    height: 100%;
    margin: 0;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color:var(--marrom);
    position: relative;
    z-index: 1;
    height: 135px;
}

nav {
    display: flex;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;
}
.navLeft{
    display: flex;
}


.navLeft>ul {
    display: flex;
    align-items: center;
    position: relative;
    right: 210px;
    height: 170px;
}

.navLeft>ul>li>a {
    padding-left: 10px;
    color: var(--bege);
    font-size: 25px;
    text-decoration:none;
}
.navLeft>ul>li>a:hover{
    text-decoration: underline;
    color: var(--bege);
    
}

.logo {
    height: 214px;
    padding: 3rem 7rem 3rem 7rem;
}

.logoBackground {
    width: 180px;
    position: relative;
    height: 180px;
    background-color: var(--bege);
    right: 262px;
    bottom: -21px;
    z-index: -2;
    border-radius: 100px;
}
.cart{
    display: flex;
    align-items: center;
    height: 170px;
    color: var(--bege);
    font-size: 30px;
    flex-direction: row;
    width: 21%;
    justify-content: space-evenly;
    padding: 0px 73px 0px 0px;
}
#login{
    padding-left: 10px;
    color: var(--bege);
    font-size: 25px;
    text-decoration:none;
}
#login:hover{
    text-decoration: underline;
    color: var(--bege);
}
.paginaPrincipal{
    display: grid;
    width: -webkit-fill-available;
    position: relative;
    height: 86vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 1fr 1fr 1fr;
 
}
.frontImage{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
}
#restauranteFoto{
    position: relative;
    height: auto;
    width: 100%;
    object-fit: cover;
    
}

.frontContent{
    display: flex;
    justify-content:space-around;
    margin: 25px 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.frontContent>*{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
.frontContent>h1{
    font-size: 50px;
    text-align: center;
}
.frontContent>p{
    font-size: 20px;
    text-align: center;
}
#frontPhoto{
    height: 200px;
    position: relative;
    object-fit: cover;
}
.border{
    background-color: var(--bege);
    grid-row: 2 / 5;
    border: solid;
    border-color: var(--marrom);
    border: 1ch;
}
.buttonContainer{
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuButton{
    height: 7vh;
    width: 12vw;
    background-color: var(--bege);
    border-style: solid;
    border-color: var(--marrom);
    border-radius: 15px;
    border-width: 4px;
    display: flex;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: auto;
    color: black;
    transition: 0.4s;
}
.menuButton:hover{
    color: black;
    background-color: var(--laranja);
    text-decoration: none;
}
.paginaCardapio{
    grid-template-columns: 2fr 220px 6fr 2fr;
    display: grid;
    grid-template-rows: 140px 600px 5fr;
    height: max-content;
    background-color: #f1f1f1;
}
.menuInterativo{
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege);
    margin-right: 20px;
    border-radius: 20px;
    border: solid;
    border-color: var(--marrom);
    width: 220px;
    height: 600px;
}
.menuInterativo>h1{
    font-size: 4ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 28px;
}
.menuInterativo>ul>li{
    font-size: 2ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 28px;
}
.cardapio{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 5;
    height: max-content;
}
.sectionTitle{
    font-size: 5ch;
    font-family: "Coiny", system-ui;
    font-weight: 800;
    font-style: oblique;
    margin-left: 2ch;
}
.sectionLine{
    border: 6px solid var(--laranja);
    border-radius: 5px;
    margin-left: 30px;
    width: 97%;
}
.cardapioCarnes{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px 30px;
    align-items: stretch;
}
.cardapioCarnes>div {
    width:291.6px;
    margin-right: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 12px #d9d9d9;
    border-radius: 10px;
}
.cardapioCarnes>div>*{
    margin: 10px 10px 15px;
}
.item>img{
    height: 180px;
    width: 100%;
    object-fit: fill;
}
.itemDescription{
    text-align: center;
}
.price{
    text-align: center;
    margin-top: 10px;
}
.botoes{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

#cartButton{
    width: 40%;
    margin-right: 10px;
}
#customiseButton{
    width: 40%;
}
.whoTitulo{
    color: var(--laranja);
    font-size: 9ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 15px;
}
.whoImageContainer{
    display: flex;
    height: 55vh;
    justify-content: center;
    margin: 20px;
}
.whoImageContainer>*{
    height: 100%;
}
.paragrafoContainer{
    background-color: var(--bege);
    border: solid var(--marrom);
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px 25px 20px;
}
.whoParagrafo{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.cartMain{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cartBlockLeft{
    width: 30%;
    height: 100%;
    padding: 66px 20px 20px 0px;
}
.cartBlockLeft>h1{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.125em;
    margin-top: 5%;
}
.cartBlockRight{
    width: 50%;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addressButton{
    background-color: var(--bege);
    transition: 200ms;
}
#addressButton:hover{
    background-color: rgb(235, 216, 186);
}
#paymentMethod{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 40px 0px;
    font-size: 1.5em;
    color: var(--marrom);
}
.payment{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(4, 50px);
    column-gap: 40px;
    row-gap: 40px;
}
.payment>div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 100ms;
    border: solid #dddddd 1px;
    border-radius: 3px;
}
.payment>div:hover{
    background-color: #d7ecdf;
    
}
#pix{
    height: 15px;
}
#master{
    height: 30px;
}
#visa{
    height: 10px;
}
#elo{
    height: 15px;
}



.paymentContent{
    height: 90%;
    width: 65%;
    background-color: #f1f1f1;
    border: solid var(--marrom) 6px;
    border-radius: 12px;
}
.cartStatus{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.buy{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    
}
.buy>button{
    background-color: #d1d1d1;
}
.cadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
}
.cadastroContainer{
    height: 91.5%;
    background: var(--bege);
    margin: 40px auto;
    width: 1000px;
    border: solid 6px var(--marrom);
}
.login{
    padding: 30px 10px 20px;
}
#loginRequest{
    text-align: center;
    padding: 20px 0px;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.125em;
}
.loginInput{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    flex-direction: column;
    height: 100px;
    align-items: center;
}
.loginInput>input{
    width: 40%;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    padding: 15px;
}
#loginButton{
    background-color: var(--laranja);
    border-color: var(--laranja);
}

.register{
    background-color: var(--bege);
    width: 100%;
    height: max-content;
}

#registerRequest{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2.25em;
    padding: 25px 0px;
}
.registerData{
    background-color: var(--bege);
    width: 100%;
    height: max-content;
    padding: 20px 15% 20px 25%;
}
.fullName{
    margin: 0px 5px;
}
.cepContainer{
    padding: 20px 0px;
    margin: 0px 5px;

}
.cepResult{
    padding: 10px 0px;
}
.cepResult>*{
    margin: 8px 5px;
}
#street{
    width: 509.6px;
}
#neighborhood{
    width: 35%;
}
#uf{
    width: 34px;
}

#registerButton{
    background-color: var(--laranja);
    border-color: var(--laranja);
}


footer{
    background-color: var(--marrom);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}
footer>*{
    color: var(--bege);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
a{color: var(--bege);}

