:root {
    --bege: rgb(255, 236, 206);
    --marrom: rgb(85,51,13);
    --laranja:  #e85d04;
}

html, body {
    height: 100%;
    margin: 0;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color:var(--marrom);
    position: relative;
    z-index: 1;
    height: 135px;
}

nav {
    display: flex;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}


nav>ul {
    display: flex;
    align-items: center;
    position: relative;
    right: 210px;
    height: 170px;
}


nav>ul>li>a {
    padding-left: 10px;
    color: var(--bege);
    font-size: 25px;
    text-decoration:none;
}
nav>ul>li>a:hover{
    text-decoration: underline;
    color: var(--bege);
    
}

.logo {
    height: 214px;
    padding: 3rem 7rem 3rem 7rem;
}

.logoBackground {
    width: 180px;
    position: relative;
    height: 180px;
    background-color: var(--bege);
    right: 262px;
    bottom: -21px;
    z-index: -1;
    border-radius: 100px;
}
.paginaPrincipal{
    display: grid;
    width: -webkit-fill-available;
    position: relative;
    height: 86vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 1fr 1fr 1fr;
 
}
.frontImage{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
}
#restauranteFoto{
    position: relative;
    height: auto;
    width: 100%;
    object-fit: cover;
    
}

.frontContent{
    display: flex;
    justify-content:space-around;
    margin: 25px 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.frontContent>*{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
.frontContent>h1{
    font-size: 50px;
    text-align: center;
}
.frontContent>p{
    font-size: 20px;
    text-align: center;
}
#frontPhoto{
    height: 200px;
    position: relative;
    object-fit: cover;
}
.border{
    background-color: var(--bege);
    grid-row: 2 / 5;
    border: solid;
    border-color: var(--marrom);
    border: 1ch;
}
.buttonContainer{
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuButton{
    height: 7vh;
    width: 12vw;
    background-color: var(--bege);
    border-style: solid;
    border-color: var(--marrom);
    border-radius: 15px;
    border-width: 4px;
    display: flex;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: auto;
    color: black;
    transition: 0.4s;
}
.menuButton:hover{
    color: black;
    background-color: var(--laranja);
    text-decoration: none;
}
.paginaCardapio{
    grid-template-columns: 2fr 220px 6fr 2fr;
    display: grid;
    grid-template-rows: 140px 600px 5fr;
    height: max-content;
    background-color: #f1f1f1;
}
.menuInterativo{
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege);
    margin-right: 20px;
    border-radius: 20px;
    border: solid;
    border-color: var(--marrom);
    width: 220px;
    height: 600px;
}
.menuInterativo>h1{
    font-size: 4ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 28px;
}
.menuInterativo>ul>li{
    font-size: 2ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 28px;
}
.cardapio{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 5;
    height: max-content;
}
.sectionTitle{
    font-size: 5ch;
    font-family: "Coiny", system-ui;
    font-weight: 800;
    font-style: oblique;
    margin-left: 2ch;
}
.sectionLine{
    border: 6px solid var(--laranja);
    border-radius: 5px;
    margin-left: 30px;
    width: 97%;
}
.cardapioCarnes{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px 30px;
    align-items: stretch;
}
.cardapioCarnes>div {
    width:27%;
    margin-right: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 12px #d9d9d9;
    border-radius: 10px;
}
.cardapioCarnes>div>*{
    margin: 10px 10px 15px;
}
.item>img{
    height: 180px;
    width: 100%;
    object-fit: fill;
}
.itemDescription{
    text-align: center;
}
.botoes{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

#cartButton{
    width: 40%;
    margin-right: 10px;
}
#customiseButton{
    width: 40%;
}
.whoTitulo{
    color: var(--laranja);
    font-size: 9ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 15px;
}
.whoImageContainer{
    display: flex;
    height: 55vh;
    justify-content: center;
    margin: 20px;
}
.whoImageContainer>*{
    height: 100%;
}
.paragrafoContainer{
    background-color: var(--bege);
    border: solid var(--marrom);
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px 25px 20px;
}
.whoParagrafo{
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

footer{
    background-color: var(--marrom);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}
footer>*{
    color: var(--bege);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3ch;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
a{color: var(--bege);}

